{{>header}}
<body>

{{>navbar}}

<!---Full Image start--->

<div class="container-fluid">
    <div class="card bg-dark text-white  apply-margin" >
        <img src="./../public/Images/contact.jpg" class="card-img" alt="..." >
        <div class="card-img-overlay" style="width:20%;text-align:center; margin-left:42%;margin-top:25%;"> 
           <div class="loader"> 
            <span>S</span>
            <span>U</span>
            <span>P</span>
            <span>P</span>
            <span>O</span>
            <span>R</span>
            <span>T</span>
           </div>
        </div>
      </div>

</div>
<!---Full Image end--->
<!---email start--->




<div class="section-12345">


    <div class="row" style="background-color: black;">
 

        <p style="margin:auto; color:white;"> <span style="color:#ff6600;">Email us:</span> ubaid.umer55555@gmail.com<span style="color:#ff6600;"> Call us: </span>+9203201238891</p>


    </div>


</div>





<!---email end--->

<!---contact us start--->



<div class="container-fluid" style="background-color:#1a0008;">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 " data-aos="flip-right">
        <form action="" class="mt-4" style="padding-bottom:25px;">
 

            <label for="" class="text-white"><h4>Personal Details</h4></label>
            <div class="form-row">
            <div class="col">
             <input type="text" id="fname" class="form-control" placeholder="First Name">
            </div>
            <span id="invalidfname" style="color: #ff2929;"></span>  
          </div>
            




         <div class="form-row mt-5">
                <div class="col">
                        <input type="text" id="lname"class="form-control" placeholder="Last Name">
                       </div>
                       <span id="invalidlname" style="color: #ff2929;"></span>  
         </div>



            <div class="form-row mt-5">
            <div class ="col">
            
            <input type="text" id="email"class="form-control"placeholder="Email">
            
            </div>
            <span id="invalidemail" style="color: #ff2929;"></span>  
            </div>
            <div class="form-row mt-5">
                <div class ="col">     
                <input type="text" id="no"class="form-control"placeholder="Phone Number">
                </div>
                <span id="invalidno" style="color: #ff2929;"></span>  
                </div>
            <div class="for-row mt-5">
            <div class="col">
            
            <label for="" class="text-white"><h4>Comments</h4></label>
            <textarea name="" id="comments" rows="5" class="form-control" placeholder="Message" ></textarea>
            </div>
            <span id="invalidcomment" style="color: #ff2929;"></span>  
            </div>


            <div class="for-row mt-3">
                    <div class="col">
                    
                    <label for="" class="text-white"><h4>Your Issue</h4></label>
                    <textarea name="" id="issue" rows="5" class="form-control" placeholder="Optional" ></textarea>
                    
                    </div>
                    </div>
                    <button type="button" id="submit" class="btn btn-success" onclick="checkemail() , checkname() , checknumber() , checkcomments()" style="margin-top:2%;margin-left:45%; width:100px;">Submit</button>
            </form>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 "data-aos="flip-left">
      <div class="space">
        <ul style="list-style-type:none;">

            <li>
                <h5> Address  </h5>
            <p>  House#14/A street #4 akram park near ghalib market oppostie to m.m.alam road, gullberg 3 ,lahore  </p>
        </li>
    
            <li><h5> We are Open</h5>
                <p>Open hours: 9:00-18:00 Monday-saturday</p>
            </li>
    
    
    
            <li> 
                <h5>Our Main Office</h5>
            </li>
            <li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.460658291043!2d74.20888971441981!3d31.401431860148843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3918ffd0bc7c5f71%3A0x879e9b82857bcd94!2sCOMSATS+University+Islamabad%2C+Lahore+Campus!5e0!3m2!1sen!2s!4v1552721969254" width="100%" height="320px" frameborder="0" style="border:0; margin-top:0px;" allowfullscreen></iframe>
         
            </li>
        </ul>
      </div>
    </div>
  </div>

</div>

 

<!---conact us end--->



<!---Footer start--->

<footer>
<div class="container-fluid">
<div class="row">
    <p>
        Download the Let's Play Andriod App From Google Play    
    </p>
</div>
<div id="horizontal-line" style="background-color:white; margin-top:20px;margin-bottom:20px;"></"></div>
<div class="row">

    <div class="col-md-3 mr-auto">
    
    <ul>
    <li><a><img src="./../public/Images/controller.png" style="margin-top:20px;"></a></li>
    <li><a style="color:white ;margin-left:5px;">Let's Play </a></li>
    <li style="margin-left:5px; color: white;"><a ><b> <a>Home </a>· <a>Story </a>· <a>Games </a>·<a> Contact </a>·<a> Play</a></b></a></li>
    <li><a style="color:white ;margin-left:5px;">Licence © 2019</a></li>
    
    </ul>
    
    
    </div>
    <div class="col-md-3 m-auto ">
    
    
      <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 Revolution Street</span> Paris, France</p>
      </div>
    
      <div>
        <i class="fa fa-phone"></i>
        <p>+92320-1238891</p>
      </div>
    
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="ubaid.umer555@gmail.com">ubaid.umer555@gmail</a></p>
      </div>
    
    </div>
    
      </div>
      <div class="col-md-3 ml-auto" >
    
        <ul>
        <li style="margin:20px;"><a><span style="color:white;">About the company</span></a></li>
        <li><a><p style="color:white;">Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p> </a></li>
    
        </ul>
        
        
        </div>
    
    
    </div>
    <div id="horizontal-line" style="background-color:black; margin-top:20px;margin-bottom:20px;"></div>
    <div class="container" >

        <a class="btn-12" href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-twitter"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-linkedin"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-google"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-instagram"></i>
        </a>
        
        </div>

</div>
<div class="row">
<p>
    Copyright @UBAIDGAMING <span style="color:crimson;">Mr.Chiko</span>
</p>
</div>
</footer>
<!---Footer end--->

</body>
</html>