{{>header}}
<body class="parallax1">
{{>navbar}}


<!---Full Image start--->

<div class="container-fluid-1" >
  <div class="card bg-dark text-white  apply-margin" >
      <img src="./../public/Images/games/bloodborneps4.jpg" class="card-img" alt="..." >    
      </img>

    </div>

</div>

<!---Full Image end--->
<!---Cards start--->

<div class="container ">

    <div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 "  data-aos="fade-down">
        <div class="card" style="border:0;">
          <div class="scoreyellow">9.8</div>
            <img class="card-img-top" src="./../public/Images/games/spiderps4.jpg" alt="Card image cap">
            <div class="card-body" style="background-color:whitesmoke;">
              <p> A Marvel comics character</p>
                <h6 class="card-title">Spiderman
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </h6>
             
            </div>
          </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xl-6 "  data-aos="fade-down">
        <div class="card" style="border:0;">
            <div class="scoreyellow">6.3</div>
            <img class="card-img-top" src="./../public/Images/tom.jpg" alt="Card image cap">
            <div class="card-body"style="background-color:whitesmoke;">
                <p> A fighting Legend</p>
                <h6 class="card-title">TOM
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </h6>
             
            </div>
          </div>
    </div>
    
    
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xl-6 "  data-aos="fade-down">
            <div class="card" style="border:0;">
                <div class="scoreyellow">8.1</div>
                <img class="card-img-top" src="./../public/Images/anno.jpg" alt="Card image cap">
                <div class="card-body"style="background-color:whitesmoke;">
                    <p> World of War</p>
                    <h6 class="card-title">Anno
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    </h6>
                 
                </div>
              </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xl-6 "  data-aos="fade-down">
            <div class="card"style="border:0;">
                <div class="scoreyellow">9.6</div>
                <img class="card-img-top" src="./../public/Images/Kazuya2.jpg" alt="Card image cap">
                <div class="card-body" style="background-color:whitesmoke;">
                    <p> Best In The World</p>
                    <h6 class="card-title">Tekken 7
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </h6>
                
                </div>
              </div>
        </div>
        
        
        </div>
        
    
    </div>
    
    
    
    <!---Cards end--->






<!---Footer start--->

<footer>
<div class="container-fluid">
<div class="row">
    <p>
        Download the Let's Play Andriod App From Google Play    
    </p>
</div>
<div id="horizontal-line" style="background-color:white; margin-top:20px;margin-bottom:20px;"></"></div>
<div class="row">

    <div class="col-md-3 mr-auto">
    
    <ul>
    <li><a><img src="./../public/Images/controller.png" style="margin-top:20px;"></a></li>
    <li><a style="color:white ;margin-left:5px;">Let's Play </a></li>
    <li style="margin-left:5px; color: white;"><a ><b> <a>Home </a>· <a>Story </a>· <a>Games </a>·<a> Contact </a>·<a> Play</a></b></a></li>
    <li><a style="color:white ;margin-left:5px;">Licence © 2019</a></li>
    
    </ul>
    
    
    </div>
    <div class="col-md-3 m-auto ">
    
    
      <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 Revolution Street</span> Paris, France</p>
      </div>
    
      <div>
        <i class="fa fa-phone"></i>
        <p>+92320-1238891</p>
      </div>
    
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="ubaid.umer555@gmail.com">ubaid.umer555@gmail</a></p>
      </div>
    
    </div>
    
      </div>
      <div class="col-md-3 ml-auto" >
    
        <ul>
        <li style="margin:20px;"><a><span style="color:white;">About the company</span></a></li>
        <li><a><p style="color:white;">Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p> </a></li>
    
        </ul>
        
        
        </div>
    
    
    </div>
    <div id="horizontal-line" style="background-color:black; margin-top:20px;margin-bottom:20px;"></div>
    <div class="container" >

        <a class="btn-12" href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-twitter"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-linkedin"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-google"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-instagram"></i>
        </a>
        
        </div>

</div>
<div class="row">
<p>
    Copyright @UBAIDGAMING <span style="color:crimson;">Mr.Chiko</span>
</p>
</div>
</footer>
<!---Footer end--->



  </body>
</html>