{{>header}}

<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form  id="signup-form" action="/signup" method="POST"  autocomplete="off">
					<input class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password1" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
					<div class="wthree-text">
					
						<div class="clear"> </div>
					</div>
					<input type="submit" name="submit" id="submit" class="form-submit btn btn-success btn-block" value='Sign up'>
				</form>
				<p>If you have an Account? <a href="login"> Login Now!</a></p>
			</div>
		</div>
	
	</div>	
</body>
</html>