{{>header}}
<body class="parallax2">
{{>navbar}}
<!---Full Image start--->

<div class="container-fluid-1">
  <div class="card bg-dark text-white  apply-margin" >
      <img src="./../public/Images/story/juggernaut.jpg" class="card-img" alt="..." >
        <div class="card-img-overlay" style="margin-right:25%; margin-top:15%;"> 
            <div class="loader" style="font-size:0.5rem;min-height:0;"> 
                <span>O</span>
                <span>U</span>
                <span style="margin-right:2%;">R</span>
                <span>S</span>
                <span>T</span>
                <span>O</span>
                <span>R</span>
                <span>Y</span>
               </div>

        </div>
      
      
      </img>

    </div>

</div>

<!---Full Image end--->


<!---title start--->
    <div class="container-2">
        <div class="row">
        <p>
          <b style="color:white;">
          Let's Play
        </b>
        </p>
        </div>
        <div id="smallhorizontal-line" style="background-color:white;"></div>
        </div>

<div class="container">
    <div class="row">
    <div id="title-text">
    <p style="color:white;">Supercell is a mobile game developer based in Helsinki, Finland, with offices in San Francisco, Tokyo, Seoul and Shanghai. Since our launch in 2010, we've brought five games to the global market – Brawl Stars, Clash Royale, Boom Beach, Clash of Clans and Hay Day. Our goal is to make the best games – games that are played by as many people as possible, enjoyed for years and remembered forever. </p>    
    </div>
    </div>
    </div>
<!---title end--->
<!---extra info start--->
<div class="container-fluid">
<div id="block">
    <div class="row">
    <ul>
        <li><div id="smallvertical-line"></div></li>
      <li>
        <h5>290</h5>
        <p>Members</p>
        <div id="smallhorizontal-line-2"></div>
      </li>
      <li><div id="smallvertical-line"></div></li>
      <li>
          <h5>5</h5>
          <p>Offices</p>
          <div id="smallhorizontal-line-2"></div>
         
        </li>
        <li><div id="smallvertical-line"></div></li>
        <li>
            <h5>30+</h5>
            <p>Nationalities</p>
            <div id="smallhorizontal-line-2"></div>
      
          </li>
          <li><div id="smallvertical-line"></div></li>
          <li>
              <h5>5</h5>
              <p>Game Title</p>
              <div id="smallhorizontal-line-2"></div>
                  </li>
                  <li><div id="smallvertical-line"></div></li>
    </ul>
    
    </div>
    </div>
  </div>

<div class="container-3">
  <div class="row">
    <h5>
      <b style="color:white;">
        Our Story
      </b>
    </h5>
  </div>
</div>
<div id="smallhorizontal-line" style="background-color:white; "></div>
<div class="container" style="margin-top:1%;">
    <div class="row">
    <div id="title-text">
    <p style="color:white;">
        In the summer of 2010, Supercell was born. Back then, the founders had no idea what the company would become. They just knew they wanted to make great games that people would play for years. To do so, they would create a new kind of gaming company.
    </p>
    </div>
    </div>
    </div>
<!---extra info end--->

<!---Meet and greet start--->

<div class="container ">


    <div id="block">
    
      <div class="row">
          <div id="smallvertical-line"></div>
        <ul style="margin-left:auto;margin-right:auto;">
     
        <li ><h5>Meet And Greet At</h5></li>
     
      </ul>
      <div id="smallvertical-line"></div>
    </div>
    </div>
    
    
    
    
        <div class="row" style="margin-top:5px; margin-bottom:5px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.460658291043!2d74.20888971441981!3d31.401431860148843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3918ffd0bc7c5f71%3A0x879e9b82857bcd94!2sCOMSATS+University+Islamabad%2C+Lahore+Campus!5e0!3m2!1sen!2s!4v1552721969254" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
         
          </div> 
    </div>
    
    
    <!---Meet and greet end --->




<!---Footer start--->

<footer>
<div class="container-fluid">
<div class="row">
    <p>
        Download the Let's Play Andriod App From Google Play    
    </p>
</div>
<div id="horizontal-line" style="background-color:white; margin-top:20px;margin-bottom:20px;"></"></div>
<div class="row">

    <div class="col-md-3 mr-auto">
    
    <ul>
    <li><a><img src="./../public/Images/controller.png" style="margin-top:20px;"></a></li>
    <li><a style="color:white ;margin-left:5px;">Let's Play </a></li>
    <li style="margin-left:5px; color: white;"><a ><b> <a>Home </a>· <a>Story </a>· <a>Games </a>·<a> Contact </a>·<a> Play</a></b></a></li>
    <li><a style="color:white ;margin-left:5px;">Licence © 2019</a></li>
    
    </ul>
    
    
    </div>
    <div class="col-md-3 m-auto ">
    
    
      <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 Revolution Street</span> Paris, France</p>
      </div>
    
      <div>
        <i class="fa fa-phone"></i>
        <p>+92320-1238891</p>
      </div>
    
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="ubaid.umer555@gmail.com">ubaid.umer555@gmail</a></p>
      </div>
    
    </div>
    
      </div>
      <div class="col-md-3 ml-auto" >
    
        <ul>
        <li style="margin:20px;"><a><span style="color:white;">About the company</span></a></li>
        <li><a><p style="color:white;">Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p> </a></li>
    
        </ul>
        
        
        </div>
    
    
    </div>
    <div id="horizontal-line" style="background-color:black; margin-top:20px;margin-bottom:20px;"></div>
    <div class="container" >

        <a class="btn-12" href="">
          <i class="fab fa-facebook-f"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-twitter"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-linkedin"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-google"></i>
        </a>
        
        <a class="btn-12"href="">
          <i class="fab fa-instagram"></i>
        </a>
        
        </div>

</div>
<div class="row">
<p>
    Copyright @UBAIDGAMING <span style="color:crimson;">Mr.Chiko</span>
</p>
</div>
</footer>
  
  </body>
</html>